<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.deu.payday.dao.CardsimpleMapper">

<select id="cardsimple" resultType="string">
	<![CDATA[
    SELECT DECODE(simple_no, (SELECT card_no FROM card_info WHERE user_id=#{id}), '1', '0') FROM simple WHERE simple_pw=#{spw}
    ]]>
</select>

</mapper>