<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.deu.payday.service.Info">

    <select id="payservice" resultType="com.deu.payday.util.PubMap">
    	<![CDATA[
    	SELECT card_money FROM card_info WHERE user_id = #{user_id}
        ]]>
    </select>
 	
 	<update id="buyservice">
 		<![CDATA[
 		UPDATE card_info SET card_money = card_money - #{result} WHERE user_id = #{user_id}
 		]]>
 	</update>

</mapper>