<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.deu.payday.dao.UserinfoMapper">

    <select id="getList" resultType="com.deu.payday.util.PubMap">
    	<![CDATA[
    	SELECT * FROM user_info where user_id=#{id}
    	]]>
    </select>
    
    <update id="update">

    	UPDATE user_info SET user_pw = #{pw}, user_job = #{job}, user_addr = #{addr}, user_relay = #{relay}, user_means = #{means}

    </update>

</mapper>